/****** CARD ******/


.list-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    justify-items: start;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.card {
    width: 170px;
    height: 230px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-bottom: solid 4px #000000;
    border-right: solid 4px #000000;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1rem;
}

.card-img {
    width: 170px;
    height: 170px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

.card-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.favorite-mark {
    position: absolute;
    z-index: 1000;
    color: #FF5900;
    right: 5%;
    top: 0;
}

.card-text {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.3em;
    font-size: 1.1em;
    font-family: 'Fredoka', Arial, sans-serif;
}

/****** BUTTON ******/

.cta-btn {
    background: var(--secondary-color);
    padding: 1rem 2rem;
    border: none;
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-bottom: solid 4px #000000;
    border-right: solid 4px #000000;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}

.primary-btn {
    background: var(--secondary-color);
    padding: 1rem 4rem;
    border: none;
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-bottom: solid 4px #000000;
    border-right: solid 4px #000000;
    border-radius: 8px;
    color: white;
    font-size: 2rem;
    margin-top: 3rem;
}


/****** PAGE ******/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    gap: 2rem;
    margin-top: 1.5rem;
    padding-bottom: 80px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title img {
    width: 278px;
}

.title p {
    text-align: center;
}

.splash-page {
    min-height: calc(100dvh - 80px);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/****** LIST ******/

.list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 0;
    gap: 2rem;
    padding: 0 2rem;
}

.header-list,
.header-recipe {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 5rem;
}

/****** NAVBAR ******/

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: #000000;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    height: 60px
}

.favorite-nbr {
    text-align: center;
    width: 24px;
    padding: 5px;
    background-color: #FF5900;
    border-radius: 200px;
    border: solid 1px #FF5900;
    z-index: 1000;
    right: 14%;
    top: 0;
    position: absolute;

}

.favorite-nbr p {
    font-family: "jura";
    font-size: 0.8rem;
    color: #ffffff;
}

/****** RECIPE ******/

.recipe-page {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.recipe-presentation {
    display: flex;
    gap: 3rem;
}

.presentation ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.presentation-img img {
    width: 164px;
    border-radius: 8px;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-detail ul,
.recipe-detail ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1.5rem;
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-bottom: solid 4px #000000;
    border-right: solid 4px #000000;
}

.presentation-text li {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.recipe-detail {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 30px;
    background-color: #BBB0AB;
    padding: 2rem;
}

.recipe-ingredients,
.recipe-steps {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/****** HOME ******/

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.filter-form input {
    border: none;
    border-radius: 8px;
    border: solid 1px;
    height: 45px;
    width: 330px;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filter-list ul {
    width: 350px;
    background-color: #ffffff;
    height: 350px;
    border-radius: 15px;
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-bottom: solid 4px #000000;
    border-right: solid 4px #000000;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.filter-list li {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.filter-list li button {
    border: none;
    width: 40px;
    background-color: #ffffff;
}

/****** FAVORITE ******/

.add-favorite {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--secondary-color);
    font-family: "ADLAM";
}

.add-favorite span {
    font-family: "ADLAM";
    font-weight: 400;
}

/****** RESPONSIVE ******/


@media (max-width: 480px) {

    .primary-btn {
        width: 100%;
        max-width: 320px;
        padding: 1rem;
        font-size: 1.2rem;
        margin-top: 2rem;
        text-align: center;
    }

    .list-card {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .card {
        width: 100%;
        max-width: 280px;
    }

}