/****** CARD ******/


.list-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.card {
    width: 170px;
    height: 230px;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #222;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 1rem;
}

.card-img {
    width: 170px;
    height: 170px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

.card-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-text {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.3em;
    font-size: 1.1em;
    font-family: 'Fredoka', Arial, sans-serif;
}

/****** CTA ******/

.cta-button {
    background: var(--secondary-color);
    padding: 0.5rem 1rem;
    border: none;
    border-top: solid 2px #000000;
    border-left: solid 2px #000000;
    border-bottom: solid 4px #000000;
    border-right: solid 4px #000000;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}



/****** PAGE ******/

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    gap: 2rem;
    margin-top:3rem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title img {
    width: 278px;
}

.title p {
    text-align: center;
}

/****** LIST ******/

.list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:4rem 0;
    gap:2rem;
    padding: 0 2rem;
}

.header-list, .header-recipe {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    gap: 5rem;
}

/****** NAVBAR ******/

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: #000000;
    padding: 1rem;
    position:fixed;
    bottom:0;
}

/****** RECIPE ******/

.recipe-page {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.recipe-presentation {
    display: flex;
    gap: 3rem;
}

.presentation-img img{
    width:164px;
    border-radius: 8px;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentation-text ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.presentation-text li{
    display: flex;
    gap: 1rem;
    align-items: center;
}