/****** RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 500px;
    height: 100vh;
    background-color: var(--primary-color);
}


/****** FONTS ******/

@font-face {
    font-family: "ADLAM";
    src: url(assets/fonts/ADLaMDisplay-Regular.ttf);
}

@font-face {
    font-family: "jura";
    src: url(assets/fonts/Jura-Regular.ttf);
}

h1 {
    font-family: "ADLAM";
    font-size: 2.6rem;
}

h2 {
    font-family: "ADLAM";
    font-size: 1.375rem;
    font-weight: 500;
}

h3 {
    font-family: "ADLAM";
    font-size: 1.125rem;
    font-weight: 500;
}

h4 {
    font-family: "ADLAM";
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-family: "jura";
    font-size: 1rem;
}

a {
    font-family: "jura";
    font-size: 1rem;
    text-decoration: none;
    color: inherit
}


/****** COLORS ******/


:root {
    --primary-color: #FFF1EA;
    --secondary-color: #FF5900;
}
